
.navbar-custom {
	font-family: 'poppins', sans-serif;
	background-color: #FFF2AF;
	border-radius: 30px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.container {
	font-family: 'poppins', sans-serif;
}

.btn.btn-dark {
	text-align: center;
	border-color: white;
	border-radius: 20px;
	background-color: #8E74F4;
}

.btn-secondary {
	background-color: #8CC641;
	border-color: #ffffff;
}

.btn-custom {
	color: #8E74F4;
}

.btn-outline-secondary {
	border-color: #ffffff;
}

.container-fluid.container-custom {
	background-color: #8E74F4;
}

.text-custom {
	color: #8E74F4;
}

.container-fluid.bg-dark {
	color: #100B2F;
}

/*Tabel*/

.containerprice {
    width: 100%;
    background: #ffffff;
}

.containerprice h2{
	font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size:32px;
    padding:50px 0;
    text-align: center;
}
.price-row{
	font-family: 'Poppins', sans-serif;
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
}
.price-col{
    background: #8E74F4;
    padding: 5% 10%;
    border-radius: 30px;
    color: #fff;
    text-align: center;
	box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.price-col p{
    font-size: 22px;
}
.price-col h3{
    font-size: 44px;
    margin: 20px 0 40px;
    font-weight: 500;
}
.price-col h3 span{
    font-size: 16px;
}
.price-col ul{
    text-align: left;
    margin: 20px 0;
    color: #ddd;
}
.price-col ul li{
    margin: 15px 0;
    size: 20px;
}
.price-col button{
    width: 100%;
    padding: 14px 0;
    background: transparent;
    color: #ffffff;
    font-size: 15px;
    border: 1px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.5s;
    margin-bottom: 10px;
}
.price-col button:hover{
	color: black;
    background: white;
}

/*Alasan*/
.services{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	column-gap: 10px;
}
.service{
	background-color: #FFF2AF;
}


.client {
    width: 100%;
    background: #ffffff;
}

.client h2{
	font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size:32px;
    padding:50px 0;
    text-align: center;
}
.client-row{
	font-family: 'Poppins', sans-serif;
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
}
.client-col{
    background: #FFF2AF;
    padding: 5% 10%;
    border-radius: 30px;
    color: #fff;
    text-align: center;
}
.client-col p{
    font-size: 22px;
}
.client-col h3{
    font-size: 44px;
    margin: 20px 0 40px;
    font-weight: 500;
}
.client-col h3 span{
    font-size: 16px;
}

/*Box*/
.boxs {
	font-family: 'poppins', sans-serif;
	border-radius: 30px;
	margin: 200px;
	height: 500px;
	background: #8E74F4;
	padding: 2em;
	box-shadow: -50px -50px 10px #FFF2AF;

}
.oval {
	font-family: 'Poppins', sans-serif;
	width: 100%
    font-size:32px;
    padding: 0;
    margin: auto;
    text-align: center;
}
.porto {
	margin: auto;
	font-family: 'poppins', sans-serif;
	width: 80%;
	height: 150px;
	background-color: #FFF2AF;
	border-radius: 40px;
	grid-gap: 0px 50px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.porto h3 h5{
	text-align: left;
}

.gambar {
	border-radius: 30px;
	object-position: center;
	margin-top: 100px;
}

.btns-secondary {
	background-color: white;
	border-color: #ffffff;
}

